<!DOCTYPE HTML>
<html>
<head>
	<title>complain post detail</title>
</head>
<body>
	{% if user %}
	{{ user+'님' }}
	{% endif %}
	{% if data %}
	<form action="/modifyProcess" method="post">
		title <input type="text" name="title" value="{{data[0][1]}}" readonly>
		content <input type="text" name="content" value="{{data[0][2]}}" readonly>
		writer <input type="text" name="user_id" value="{{data[0][3]}}" readonly>
		date <input type="text" name="post_date" value="{{data[0][4]}}" readonly>
		<input type="text" name="post_num" value="{{data[0][0]}}" hidden>
		<input type="text" name="kind" value=1 hidden>
		{% if access %}
		<input type="submit" value="modify">
		{% endif %}
	</form>
	<form action="/deleteProcess" method="post">
		<input type="text" name="post_num" value="{{data[0][0]}}" hidden>
                <input type="text" name="kind" value=1 hidden>
		{% if access %}
                <input type="submit" value="delete">
		{% endif %}
        </form>
	{% endif %}
</body>
</html>
